.login-page{
  position: relative;
  bottom: -600px;
  width: 360px;
  padding: 0 0 0;
  margin: auto;
  animation: upper;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes upper {
  0% {bottom: -600px;}
  100% {bottom: 40px;}
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4cadaf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43a0a0;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4cabaf;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body {
  background: #52adb8; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #52adb8, #6fb6c2);
  background: -moz-linear-gradient(right, #52adb8, #6fb6c2);
  background: -o-linear-gradient(right, #52adb8, #6fb6c2);
  background: linear-gradient(to left, #52adb8, #6fb6c2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html{
  margin: 0;
  padding: 0;
}

canvas{
  width: 800;
  height: 400;
  display: block;
  margin: 0 auto;
}

#WebGL-output{
  position: relative;
  top: -400px;
  animation: landing;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes landing {
  0% {top: -400px;}
  100% {top: 0px;}
}
